@model EfPowerTools.Models.Factura

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>TABLA FACTURAS</h1></center>

@* <h4>Factura</h4> *@
<hr />
<div class="row">

    <div class="container2 ">
    <div class="col-md-4-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                    <label asp-for="NombreUsuario" class="control-label">Nombre Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="ApellidoUsuario" class="control-label">Apellido Usuario</label>
                <input asp-for="ApellidoUsuario" class="form-control" />
                <span asp-validation-for="ApellidoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="NomCentroFormacion" class="control-label">Nombre centro de formacion</label>
                <input asp-for="NomCentroFormacion" class="form-control" />
                <span asp-validation-for="NomCentroFormacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label"> Nombre producto</label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="TipoProducto" class="control-label">Tipo producto</label>
                <input asp-for="TipoProducto" class="form-control" />
                <span asp-validation-for="TipoProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
    
            <div class="BotonCrear">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>


            <div class="BotonVolver">
                <a asp-action="Index"><black>Volver</black></a>
            </div>
        </form>
            <div><img class="imgFactura" src="~/css/img/factura.png" /> </div>
    </div>
    </div> @* Div del contenedor 2 *@
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
