@model EfPowerTools.Models.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<CENTER><h1>TABLA USUARIO</h1></CENTER>


<hr />
<div class="row">

    <div class="container2">

        <div class="col-md-4">


            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @*               <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="TipoDocumento" class="control-label">TIPO DOCUMENTO</label>
                    <select asp-for="TipoDocumento" class="form-control">
                        <option value="CC">Cédula de Ciudadanía</option>
                        <option value="Pasaporte">Pasaporte</option>

                    </select>
                    <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Documento" class="control-label"></label>
                    <input asp-for="Documento" class="form-control" />
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombres</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label">Primer Apellido</label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SegundoApellido" class="control-label">Segundo Apellido</label>
                    <input asp-for="SegundoApellido" class="form-control" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sexo" class="control-label">Selecciona el sexo:</label>
                    <select asp-for="Sexo" class="form-control">
                        <option value="M">M</option>
                        <option value="F">F</option>


                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNac" class="control-label"></label>
                    <input asp-for="FechaNac" class="form-control" />
                    <span asp-validation-for="FechaNac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodigoPostal" class="control-label">Codigo Postal</label>
                    <input asp-for="CodigoPostal" class="form-control" />
                    <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nacionalidad" class="control-label"></label>
                    <input asp-for="Nacionalidad" class="form-control" />
                    <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Departamento" class="control-label"></label>
                    <input asp-for="Departamento" class="form-control" />
                    <span asp-validation-for="Departamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Municipio" class="control-label"></label>
                    <input asp-for="Municipio" class="form-control" />
                    <span asp-validation-for="Municipio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstadoCivil" class="control-label">Estado Civil</label>
                    <input asp-for="EstadoCivil" class="form-control" />
                    <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreCentrodeFormacion" class="control-label">Centro de Formacion</label>
                    <input asp-for="NombreCentrodeFormacion" class="form-control" />
                    <span asp-validation-for="NombreCentrodeFormacion" class="text-danger"></span>
                </div>
                @*                 <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

                </div> *@
                <div class="BotonCrear">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>


                <div class="BotonVolver">
                    <a asp-action="Index"><black>Volver</black></a>
                </div>
            </form>

            <div><img class="imgCreate" src="~/css/img/logo.svg.png" /> </div>

        </div>

    </div>





</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
